<div class="clearfix"></div>
<div class="container">
    <!-- <form [formGroup]="PaymentForm" action='https://test.payu.in/_payment' (ngSubmit)="onSubmit()"
        class="form-signin text-center" novalidate>
        <br>
        <h3>Payment Form</h3>
        <input type="hidden" id="id_Token" formControlName="id_Token">
        <input type="hidden" formControlName="surl" value="https://www.google.com" />
        <input type="hidden" formControlName="key" value="C0Dr8m" />
        <input type="hidden" formControlName="hash" />
        <input type="hidden" formControlName="curl" value="http://www.google.com" />
        <input type="hidden" formControlName="furl" value="https:/www.yahoo.in" />
        <input type="hidden" formControlName="txnid" value="PLS-10061-3" />
        <input type="hidden" formControlName="udf5" value="PayUBiz_ASP.NET_Kit" />

        <input type="text" formControlName="firstname" value="Vikas Kumar" />
        <input type="text" formControlName="phone" value="9999999999" />
        <input type="text" formControlName="productinfo" value="SAU Admission 2014" />
        <input type="hidden" formControlName="amount" value="600.000" />
      
        <input type="submit" value="submit">
    </form> -->
</div>